<%- include('partials/header', {user}) -%>
<div class="container">
  <div class="row justify-content-center mt-5 text-center">
      <h1>Profile of <strong><%= user.userName %></strong></h1>
      <% if(ownProfile && posts.length === 0){ %>
        <div class="col-6 mb-3">
          <p>You currently do not have any posts. Make your first post to engage and celebrate with your community.</p>
          <a class="btn btn-primary" href="/post/createNewPost">Make First Post</a>
        </div>
      <% } %>
      <div class="container">
        <div class="justify-content-center">
          <ul class="post-container row list-unstyled mt-5">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="post">
              <a href="/post/<%= posts[i]._id%>">
                <div class="text-center pt-5">
                  <img src="<%= posts[i].image%>">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-break"><%= posts[i].title %></h5>
                  <p class="card-text text-break"><%= posts[i].caption %></p>
                </div>
              </a>
            </li>
          <% } %>
          </ul>
        </div>
      </div>
      <% if(!ownProfile){ %>
        <div class="justify-content-center my-5">
          <a class="btn btn-primary" href="/feed">Explore the Community</a>
        </div>
      <% } %>   
    </div>
  </div>
</div>
<%- include('partials/footer') -%>